{
    "presets": [
        ["es2015", { "loose": true }],
        "stage-1",
        "react"
    ],
    // transform-decorationtors-legacy要放在plugins的第一项
    "plugins": ["transform-decorators-legacy", "react-hot-loader/babel"]
}